<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body ng-app="myApp1" ng-controller="myCtrl1">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div  class="container" style="text-align: left; padding: 100px;  background-color: #b3d7ff; width: 600px; " >

    <nav class="navbar navbar-expand-lg fixed-top ">
        <a class="navbar-brand" href="#">Магазин Винагород</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" data-value="about" href="#">Тести</a>        </li>
            <li class="nav-item">
                <a class="nav-link " data-value="portfolio"href="#">Магазин</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="blog" href="#">Про нас</a>         </li>


        </ul>
        </div></nav>

    <form style="align-content:center; align-items: center;  ">


            <h4>Введіть ваше ім'я</h4>
        <input type="text" placeholder="Ім'я" ng-model="employeeForm.name" >


        <p> <b>В якому файлі зберігаються файли на мові c++? </b> <br>
            <label>
                <input type="radio" name="myname" value="0">
                *.cipp</label>
            <br>
            <label>
                <input type="radio" name="myname" value="0">
                *.plusplus</label>
            <br>
            <label>
                <input type="radio" name="myname" value="1">
                *.cpp</label>
            <br>
            <label>
                <input type="radio" name="myname" value="0">
                *.php</label>
        </p>

        <br>

        <label for="street" > <b>Якого циклу нема в C++ </b></label><br>
        <select name="street" id="select">
            <option value="0"> while</option>
            <option value="0"> for </option>
            <option value="1">repeat - until</option>
            <option value="0">do - while</option>
        </select>

        <br>

        <p>   <b>Що виведе даний код?</b>
        <pre><code class="language-java">
    String s = "Vasya";

    cout<<" Hello "<< s << endl;
    </code></pre>

        <br>
        <label>
            <input type="radio" name="myname1" value="0">
            Hello s</label>
        <br>
        <label>
            <input type="radio" name="myname1" value="0">
            Hello String s</label>
        <br>
        <label>
            <input type="radio" name="myname1" value="0">
            Vasya</label>
        <br>
        <label>
            <input type="radio" name="myname1" value="1">
            Hello Vasya</label>
        </p>

        <br>

        <p>  <b>Умовний оператор if() призначений для</b>
            <br>
            <label>
                <input type="radio" name="myname2" value="0">
                Виконання коду після умови </label>
            <br>
            <label>
                <input type="radio" name="myname2" value="0">
                Повторення частини коду </label>
            <br>
            <label>
                <input type="radio" name="myname2" value="1">
                Перевірки чи буде виконуватись дана частина коду</label>
            <br>
            <label>
                <input type="radio" name="myname2" value="0">
                Виходу із програми</label>
        </p>

        <br>

        <p> <b> Успадкування класів призначене </b>

            <br>
            <label>
                <input type="radio" name="myname3" value="1">
                Повторного використання даних з класу нащадка </label>
            <br>
            <label>
                <input type="radio" name="myname3" value="0">
                Повторення методів в класі нащадку </label>
            <br>
            <label>
                <input type="radio" name="myname3" value="1">
                Зберігання значень створеного об'єкту </label>
            <br>
            <label>
                <input type="radio" name="myname3" value="0">
                Приховання даних </label>
        </p>

        <br>


        <p>   <b>Оголошення  зміної a типу int</b>

            <br>
            <label>
                <input type="radio" name="myname4" value="0">
                <code class="language-java">
                double a;
                </code>

            </label>
            <br>
            <label>
                <input type="radio" name="myname4" value="0">
                <code class="language-java">
                String a;
                </code>

                <br>

                <label>
                    <input type="radio" name="myname4" value="1">
                    <code class="language-java">
                        int a;
                    </code>

                    <br>
        </p>

        <br>



        Кількість балів: <input type="text" name="result" ng-model="employeeForm.points">

        <p>
            <input type="button" onclick="calculate()" id="calc" ng-click="sendData()" value="Відправити на перевірку">
            <input type="reset" value="Обнулити">
        </p>


    </form>

</div>
<script>

    function calculate() {

        var myform = this.form;

        var res = myform.myname.value  +myform.street.value;

        console.log(res);
        myform.result.value =  +myform.myname.value
            +  +myform.myname1.value
            +  +myform.myname2.value
            +  +myform.myname3.value
            +  +myform.myname4.value
            +  +myform.street.value;

        alert(myform.result.value);
        cosnole.log(myform.result.value);
    }

    calc.onclick = function(){
        var myform = this.form;

        var res = myform.myname.value  +myform.street.value;

        console.log(res);
        myform.result.value =  +myform.myname.value
            +  +myform.myname1.value
            +  +myform.myname2.value
            +  +myform.myname3.value
            +  +myform.myname4.value
            +  +myform.street.value;
    }

    var app1 = angular.module('myApp1', []);
    app1.controller('myCtrl1', function($scope, $http) {

        $scope.users = [];

        $scope.employeeForm = {
            id: null,
            points: 0 ,
            name:  ""
        };

            /*{
            empId: 1,
            empName: "keko",
            empPoint: 67
        };*/

        $scope.sendData = function () {

            var method = "";
            var url = "";

//            if ($scope.employeeForm.empId == 1) {
                method = "POST";
                url = '/user';
                $scope.employeeForm.Id;
                console.log("POST");
                console.log($scope.employeeForm.Id);
                console.log($scope.employeeForm);

//            } else {
//                method = "PUT";
//                url = '/user';
//            }

            $http({
                method: method,
                url: url,
                data: angular.toJson($scope.employeeForm),
//
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then();
        };

        $scope.websites = [];

        $http.get('http://localhost:8080//products').then(function (response) {
            $scope.websites=response.data;
        })

    });




</script>



<style>

    .navbar{ background:#F97300;}
    .nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
    .nav-link{ margin-right: 1em !important;}
    .nav-link:hover{ background: #f4f4f4; color: #f97300; }
    .navbar-collapse{ justify-content: flex-end;}
    .navbar-toggler{  background:#fff !important;}

</style>

</body>
</html>